---
---

@import "{{ site.theme }}";

#forkme_banner {
  display: none;
}


#main_content {
  border-bottom: 100px;
}

#header_wrap .inner {
  padding: 25px 10px 10px 10px;
}

body {
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  margin: 10px 0 30px 0;
}
